#dashboard {

    --background: #212121;
    --secondary-color: #0D7377;
    --secondary-hover: #119ba0;
    --close-color: #682626;
    --tint-color: #14FFEC;
    --br-color: #797979;
    --lighter-color: #323232;

    --padding-spacing: 30px;

    flex: 1;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;

    * {
        letter-spacing: normal;
        font-family: 'Montserrat', sans-serif;
        line-height: 1em;
    }

    //general styles
    h1 {
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-transform: none;
        margin: 0;
        height: fit-content;
    }

    button {
        font-weight: 400;
    }

    .capital {
        text-transform: capitalize;
    }

    input {
        outline: none;
        background-color: white;
        color: black;
        &::placeholder{
            color: grey !important;
        }
    }

    //specific

    nav {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button.connect {
        padding: 7px 30px;
        width: 200px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        height: fit-content;
        box-shadow: none;
        border: 1px solid white;
        border-radius: 0;

        &.disconnect {
            color: var(--secondary-hover) !important;
            border-color: var(--secondary-hover);
        }
    }

    .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        align-self: stretch;
    }


    $add-button-size: 60px;

    #add-button {
        $size: $add-button-size;
        width: $size;
        height: $size;
        background-color: var(--secondary-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 300ms ease;

        .icon {
            font-size: 25px;
            transition: transform 300ms ease;
        }

        &:hover {
            background-color: var(--secondary-hover);
            cursor: pointer;
        }

        &.shown {
            background-color: var(--close-color);

            .icon {
                transform: rotate(-45deg)
            }
        }
    }


    #add-menu {
        width: 400px;
        height: 350px;
        background-color: var(--secondary-color);
        border-radius: 5px;
        position: fixed;
        bottom: calc(var(--padding-spacing) + calc(15px + 60px));
        right: var(--padding-spacing);
        clip-path: inset(100% 0 0 0);
        transition: clip-path 300ms ease;

        &.shown {
            clip-path: inset(0 0 0 0)
        }
    }

    #switch {
        button {
            font-size: 24px;
            text-transform: capitalize;
            box-shadow: none;
            position: relative;
            border-right: 1px solid var(--br-color);
            padding: 0 20px;

            &::after {
                content: '';
                position: absolute;
                top: 90%;
                left: 50%;
                width: calc(100% - 40px);
                height: 2px;
                background-color: var(--tint-color);
                transform-origin: left;
                transform: translateX(-50%) scaleX(0);
                transition: transform 300ms ease;
            }

            &:hover {
                color: var(--tint-color) !important;
                background-color: transparent;
            }

            &.current {
                color: var(--tint-color) !important;

                &::after {
                    transform: translateX(-50%);
                }
            }
        }

        button:last-of-type {
            border-right: none;
        }
    }


    #orders {
        flex: 1;
        overflow-y: auto;
        max-height: 60vh;
        padding-right: 10px;

        .container {
            width: 680px;

            background-color: var(--lighter-color);
            margin: 30px 0;
            border-radius: 4px;
            display: flex;
            padding: 10px;

            h1 {
                font-size: 16px;
            }

            img {
                width: 100px;
                height: 100px;
            }

            .rows {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 0 60px;

                .row {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .loan-button {
            width: 60px;
            height: 60px;
            background-color: var(--secondary-color);
            align-self: center;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .icon {
                font-size: 30px;
            }

            &:hover {
                background-color: var(--secondary-hover);
            }
        }


        // custom scroll bar
        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: white;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        transform : translateX(8px)
    }
}

.flex {
    display: flex;

    &.vertical {
        flex-direction: column;

        &.center-hor {
            align-items: center;
        }
    }
}

.flex-auto {
    flex: 1
}


#dashboard {
    nav {
        padding: 16px;

        h1 {
            font-size: 25px;
        }
    }

    #add-menu,
    #add-button {
        right: 16px;
    }

    #add-button {
        bottom: 16px;
    }

    #add-menu {
        bottom: 92px;
        max-width: calc(100% - 32px);
        font-family: 'Montserrat', sans-serif;
        padding: 25px;
        font-size: 16px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row {
            display: flex;
            justify-content: space-between;
            margin: 10px 0px;
        }

        hr {
            margin: 20px 0;
        }

        .input {
            position: relative;
            button.add {
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                background-color: var(--secondary-color);
                &:hover {
                    background-color: var(--secondary-hover);
                }
                
            }
        }
    }

    #orders {
        width: 90%;

        .container {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .rows {
                margin: 0 30px;
                align-self: stretch;

                .row {
                    margin: 10px 0;
                }
            }

            &>* {
                margin: 10px 0;
            }
        }
    }
}

@media(max-width: 500px) {
    #main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: row;
        align-items: stretch;

        article.active {
            max-height: 100vh;
            height: 100vh;
            display: flex !important;
            align-items: stretch
        }
    }

    #dashboard {
        #switch button {
            font-size: 20px;
        }
    }
}